<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ArtisCo - Your trade in your hands</title>
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <link rel="stylesheet" th:href="@{/assets/css/primeflex/primeflex.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/primeng/components/inputtext/inputtext.css}">
    <link rel="stylesheet" th:href="@{/assets/css/primeng/components/password/password.css}">
    <link rel="stylesheet" th:href="@{/assets/css/primeng/components/button/button.css}">
    <link rel="stylesheet" th:href="@{/assets/css/theme/arya-blue.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="flex w-screen h-screen">
    <div id="imglateral" class="w-6 borda"></div>
    <div id="login" class="w-6 h-full flex justify-content-center align-items-center">
        <form th:action="@{/login}" method="post" class="flex flex-column ">
            <div class="mb-5 fundo flex justify-content-center">
                <img class="logo" src="../../static/assets/img/LogoLogin.svg" th:src="@{/assets/img/LogoLogin.svg}" alt="Login">
            </div>
            <div class="fundo flex justify-content-center">
                <p class="alert alert-danger" th:if="${#bools.isTrue(param.error)}">
                    O e-mail ou senha incorreta.
                </p>
            </div>
            <div class="flex flex-column justify-content-center align-items-center">
                <input type="text" name="username" class="p-inputtext input mb-4" placeholder="Usuário" required autofocus>
                <input type="password" name="password" class="p-inputtext input mb-3"  placeholder="Senha" required>
                <span class="sideOps flex justify-content-between mb-4">
                    <span>
                        <input class="border-700" type="checkbox"> <span class="text-700 font-italic">Lembrar de mim</span>
                    </span>
                    <a href="/forgotPassword" style="color: black;">Esqueci minha senha</a>
                </span>
                <button type="submit" class="p-button flex justify-content-center">Entrar</button>
            </div>
        </form>
    </div>
</body>
</html>