<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ArtisCo - Forgot password</title>
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <link rel="stylesheet" th:href="@{/assets/css/primeflex/primeflex.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/primeng/components/inputtext/inputtext.css}">
    <link rel="stylesheet" th:href="@{/assets/css/primeng/components/password/password.css}">
    <link rel="stylesheet" th:href="@{/assets/css/primeng/components/button/button.css}">
    <link rel="stylesheet" th:href="@{/assets/css/theme/arya-blue.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="flex w-screen h-screen">
    <div id="imglateral" class="w-6 borda"></div>
    <div id="login" class="w-6 h-full flex justify-content-center align-items-center">
        <form th:action="@{/resetPassword}" method="post" class="flex flex-column ">
            <div class="flex flex-column justify-content-center align-items-center">
                <div class="fundoaviso flex justify-content-center align-items-center mb-3 text-center text-600">
                    <p class="mx-2">Digite sua nova senha.</p>
                </div>
                <input type="password" name="password" class="p-inputtext input mb-4" placeholder="Senha" required autofocus>
                <input type="password" name="passwordConfirm" class="p-inputtext input mb-4" placeholder="Confirme a senha" required>
                <button type="submit" class="p-button flex justify-content-center">Enviar</button>
            </div>
        </form>
    </div>
</body>
</html>